.active {
    text-decoration: none;
    gap: 10px;
    padding: 5px;
   display: flex;
  
    background-color: rgb(255,222,47);
   width: 100%;

  }
  
  .default {
    padding: 5px;
    gap: 10px;
    display: flex;
   
    text-decoration: none;
    color: black;
    /* background-color:rgb(255,222,47) ; */
    width: 100%;
   
  }
  .active:hover{
    background-color: rgb(255,222,47);
  }
  .default:hover{
    background-color: rgb(255,222,47);
  }


  /* .sideComp:hover{
    background-color: rgb(255,222,47);
  } */
  